<form method="post" action="{{ path('app_demande_maintenance_delete', {'id': demande_maintenance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demande_maintenance.id) }}">
    <button class="btn btn-sm btn-danger-">حذف</button>
</form>
