<form method="post" action="{{ path('app_association_sportif_delete', {'id': association_sportif.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ association_sportif.id) }}">
    <button class="btn">Delete</button>
</form>
