{% extends 'base.html.twig' %}

{% block title %}تعديل إتصال{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">تحديث إتصال</h1>

    {{ include('connexion_internet/_form.html.twig') }}
</div>
{% endblock %}