{% extends 'base.html.twig' %}

{% block title %}إضافة رد فني{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-4">إضافة رد فني</h1>

    {{ include('reponse_technique/_form.html.twig') }}
</div>
{% endblock %}