{% extends 'base.html.twig' %}

{% block title %}Edit DocumentSeance{% endblock %}

{% block body %}
    <h1>Edit DocumentSeance</h1>

    {{ include('document_seance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_document_seance_index') }}">back to list</a>

    {{ include('document_seance/_delete_form.html.twig') }}
{% endblock %}
